@import "reset.scss";
@import "mixin.scss";
@import "variables.scss";
@import "colors.scss";

body{
	max-width: 1280px;
	color: $white;
	@include fonts($white, 16px);
	margin: 0 auto;
	position: relative;
}
.button{
	@include fonts (16px, $white);
	padding: 10px;
	width: 15%;
	font-weight: 700;
}
.red{
	color:$red;
}
.header{
	width: 100%;
	height: 600px;
	background: linear-gradient(rgba(0, 0, 0, 0.5)), url('../assets/hero_demo.jpg');
	background-size: cover;
	position: relative;
	.header-logo{
		width: 11%;
		margin-left: 2%;
		margin-top: 1%;
		position: absolute;
		z-index: 2;
	}
    .header-text{
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	line-height: 1.2;
	.header-name{
		@include fonts (40px, $white);
	}
	.header-description-one, .header-description-two{
		@include fonts (32px, $white);
	}
	.header-buttons{
	    display: flex;
		justify-content: center;
		margin-top: 4%;
		width: 100%;
		.header-main{
			@include buttons (5%, $commonPink);
			margin-right: 1px;
		}
		.header-others{
			@include buttons (5%, transparent);
			border: 2px solid $white;
			margin-left: 1px;	
		}
	}
    }
}
.main{
	padding-top: 3%;
	margin: 0 auto;
	margin-bottom: 5%;
	width: 80%;
	flex-direction: column;
  .main-text{
	display: flex;
	align-items: center;
	flex-direction: column;
  .main-text-up{
	  @include textUp;
	  padding-top: 2%;
	  &::before{
		@include coloredLine(45%, 77%);
		background-color: $textGrey;
		width: 11%;
	}
	&::after{
		@include coloredLine(48%, 77%);
	}
}
  .main-text-bottom{
	  @include fonts(20px, $textGrey);
	  margin-top: 1%;
}	
}
   .main-row{
	display: flex;
	justify-content: center;
	width: 100%;
	flex-wrap: wrap;
	margin-top: 2%;
   .main-row-block-item{
	  width: 30%;
	  margin: 1%;
	  display: flex;
	  flex-direction: column;
	  align-items: center;
	.main-demo-img{
		overflow: hidden;
		height: 450px;
		@include shadow;
		margin-bottom: 10%;
		border-radius: 2%;
		.main-row-block-item-img{
			width: 100%;
		}
	}
	.main-row-block-item-text{
		@include fonts(16px, $black);
		font-weight: 700;	
	}
}
}
}
.footer{
	@include fonts(30px, $black);
	text-align: center;
	background-color: $commonGrey;
	position: relative;
	width: 100%;
	.footer-text-up{
		@include textUp;
		padding-top: 5%;
		&::before{
			@include coloredLine(45%, 91%);
			background-color: $textGrey;
			width: 11%;
		}
		&::after{
			@include coloredLine(48%, 91%);
		}
	}
	.footer-slider{
		display: flex;
		justify-content: center;
		margin-top: 3%;
		.footer-slider-item{
			display: flex;
			justify-content: center;
		img{
			width: 97%;
		}
	}
	}
	.footer-second{
		@include fonts(10px, $textGrey);
		width: 100%;
		background-color: $white;
		padding-top: 2%;
		padding-bottom: 5%;
		#button {   
			display: inline-block;   
			background-color: $textGrey;   
			width: 30px;   
			height: 30px;   
			text-align: center;   
			border-radius: 50%;   
			margin: 20px;   
			position: fixed;   
			bottom: 25px;   
			right: 25px;   
			transition: background-color .3s;   
		 } 
		 #button:hover {   
			cursor: pointer;   
			background-color: #333; 
		 } 
		 #button:active {   
			background-color: #555; 
		 } 
		 #button::after {
			content: "\f077";
			font-family: FontAwesome;
			font-weight: normal;
			font-style: normal;
			font-size: 1em;
			line-height: 30px;
			color: $white; 
		 } 
	}
}

@media screen and (max-width: 767px){
	.header{
		.header-logo{
			width: 20%;
		}

		.header-description-one{
			width: 82%;
			text-align: center;
		}
	}
	.button{
		@include fonts (16px, $white);
		padding: 10px;
		width: 25%;
		font-weight: 700;
	}
	.main{
	.main-text{
		.main-text-up{
			&::before{
			  @include coloredLine(42%, 78%);
			  background-color: $textGrey;
			  width: 14%;
		  }
		  &::after{
			  @include coloredLine(45.5%, 78%);
			  width: 7%;
		  }
	  }
	  .main-text-bottom{
		  margin-top: 3%;
		  width: 85%;
		  text-align: center;
		  line-height: 1.5;
	}	
	}
	.main-row{
		display: flex;
		justify-content: center;
		width: 100%;
		flex-wrap: wrap;
		
		.main-row-block-item{
			width: 46%;
			margin-top: 2%;
			&:last-child{
				display: none;
			}
				.main-demo-img{
				   height: 370px;
			  }
		  }
		}
	}
.footer{
	.footer-text-up{
		&::before{
			@include coloredLine(45%, 93%);
			background-color: $textGrey;
			width: 14%;
		}
		&::after{
			@include coloredLine(48%, 93%);
			width: 7%;
		}
	}
.footer-second{
	#button{
		display: none;
	  }
}
}
}

@media screen and (max-width: 639px){
	.header{
		margin-bottom: 5%;
		.header-logo{
			width: 40%;
		}
		.header-text{
			.header-description-one{
			 font-size: 25px;
			 width: 99%;
			 font-weight: 100;
	}
	    	.header-description-two{
			 font-size: 25px;
		}
	}
	    .button{
		width: 40%;
	}
	}
.main{
	width: 100%;
	.main-text{
		.main-text-up{
			margin-top: 3%;
				&::before{
				  @include coloredLine(40.5%, 88.5%);
				  background-color: $textGrey;
				  width: 20%;
			  }
			  &::after{
				  @include coloredLine(45%, 88.5%);
				  width: 10%;
			  }
		  }
		  .main-text-bottom{
			width: 96%;
			font-size: 23px;
	  }	
		}
	  .main-row{
		.main-row-block-item{
			width: 98%;
				.main-demo-img{
				   height: 475px;
				   margin-top: 2%;
				   margin-bottom: 4%;
				   width: 98%;
			  }
		  }
		}
	}
	.footer{
		.footer-text-up{
			font-size: 33px;
			&::before{
				@include coloredLine(35%, 97%);
				background-color: $textGrey;
				width: 25%;
			}
			&::after{
				@include coloredLine(41%, 97%);
				width: 12.5%;
			}
		}
	}
}
